---
// src/layouts/Layout.astro
import '../styles/global.css'; // <--- ¡AQUÍ ESTÁ LA MAGIA QUE ACTIVA TAILWIND!

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="VKMEN " />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/src/assets/VK_isotipo.png" />
    <title>{title}</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet">
  </head>
  <body class="bg-white text-black antialiased overflow-x-hidden">
    
    <slot />

    <script>
      import Lenis from 'lenis';

      const lenis = new Lenis({
        duration: 1.2,
        smoothWheel: true,
      });

      function raf(time: number) {
        lenis.raf(time);
        requestAnimationFrame(raf);
      }

      requestAnimationFrame(raf);
    </script>
  </body>
</html>

<style is:global>
  /* Configuración y variables globales para complementar el minimalismo */
  :root {
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Inter', sans-serif;
  }

  .font-heading {
    font-family: var(--font-heading);
  }

  .font-body {
    font-family: var(--font-body);
  }

  html.lenis, html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
</style>